
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNhaTuyenDung.cshtml";
}

<div class="banner">
    <div class="container">
        <div class="banner-caption">
            <div class="col-md-12 col-sm-12 banner-text">
                <h1>Hàng Ngàn Hơ Sơ Tìm Việc</h1>
                <div style="padding-left:100px">
                    <form action="/NhaTuyenDung/Timkiemhoso" method="post" style="width:1000px" class="form-horizontal">
                        <div class="col-md-5">
                            <div class="input-group">
                                <select class="form-control" name="nganhnghe">
                                    <option value="">Ngành nghề</option>
                                    @Html.Action("Nganhnghe", "TrangChu")
                                </select>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="input-group">
                                <select class="form-control" name="diadiem">
                                    <option value="">Địa điểm</option>
                                    @Html.Action("Diadiem", "TrangChu")
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2 no-padd">
                            <div class="input-group">
                                <button type="submit" class="btn btn-primary">Tìm Hồ Sơ</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

